<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
						http://www.springframework.org/schema/beans/spring-beans.xsd"
	default-autowire="byName">
			<!-- 
				자동 주입 : Bean 객체에 다른 Bean 객체를 넣고자 할 경우 기존의 생성자 주입이나 메서드 주입이 아닌
						 자동으로 주입을 받고자 할 경우에 쓰는 이러한 경우를 자동주입이라고 한다.
						- 기존처럼 주입을 위해 property나 constructor-args를 쓰지 않아도 된다는 점에서
						  상당한 장점이 있으며 xml의 길이가 짧아진다는 이점을 가진다.
			 -->
			<bean id="obj1" class="kr.co.goodee39.beans.TestBean1">
				<property name="data1" ref="data_bean1"/>
				<property name="data2" ref="data_bean1"/>		
			</bean>

			<bean id="data_bean1" class="kr.co.goodee39.beans.DataBean1" scope="prototype"/>
			
			<!-- 이름을 기준으로 자동 주입 -->
			<!-- 얻고자하는 set, get메서드의 데이터이름과 bean의 id가 일치하면 그에 맞게 알아서 주입 -->
			<bean id="obj2" class="kr.co.goodee39.beans.TestBean1" autowire="byName"/>
			
			<bean id="data1" class="kr.co.goodee39.beans.DataBean1"/>
			<bean id="data2" class="kr.co.goodee39.beans.DataBean1"/>
			
			
			
			<!-- 타입을 기준으로 자동 주입(똑같은 Bean이 있으면 에러발생) -->
			<!-- 아래 예시에서는 타입(DataBean2)을 기준으로 주입 -->
			<bean id="obj3" class="kr.co.goodee39.beans.TestBean2" autowire="byType"/>
			
			<bean id="data_bean2" class="kr.co.goodee39.beans.DataBean2"/>
			<!-- <bean id="data_bean3" class="kr.co.goodee39.beans.DataBean2"/> => 에러 -->
			
			
			<!-- 생성자를 기준으로 자동 주입 -->
			<!-- 기존방식 -->
			<bean id="obj4" class="kr.co.goodee39.beans.TestBean3">
				<constructor-arg ref="data_bean2" index="0"/>
				<constructor-arg ref="data_bean2" index="1"/>
			</bean>
			<!-- autowire -->
			<bean id="obj5" class="kr.co.goodee39.beans.TestBean3" autowire="constructor"/>
			
			
			
			<!-- 기본형 타입과 참조형 타입이 혼재되어 있는 상황에서 자동주입 유무 -->
			<!-- 기존방식 -->
			<bean id="obj6" class="kr.co.goodee39.beans.TestBean3">
				<constructor-arg value="100" type="int"/>
				<constructor-arg value="문자열"/>				
				<constructor-arg ref="data_bean2" index="2"/>
				<constructor-arg ref="data_bean2" index="3"/>
			</bean>
			<!-- autowire -->
			<!-- 지정해주지 않은 값은 알아서 들어감 -->
			<bean id="obj7" class="kr.co.goodee39.beans.TestBean3" autowire="constructor">
				<constructor-arg value="100" type="int"/>
				<constructor-arg value="문자열"/>		
			</bean>
			
			
			<!-- 가장 상단 default-autowire로 autowire을 지정해주면 지정한 형태에 맞게 대입 -->
			<bean id="obj8" class="kr.co.goodee39.beans.TestBean1"/>
			
			<!-- 위의 지정해둔 default-autowire의 영향을 받고 싶지 않다면  autowire을 no로 지정-->
			<!-- <bean id="obj8" class="kr.co.goodee39.beans.TestBean1" autowire="no"/> -->
</beans>